<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreatePost | Forum</title>
    <link rel="stylesheet" href="../static/css/createpost.css">
</head>
<body>
  <div class="container">
      <div class="header">
        <h3>Create a new Post</h3>
      </div>
      <form method="POST" action="/create-post">
        {{with .Form}}
        <label for="title">Title</label><br>
          {{with .Errors.Get "title"}}
            <label class="error" style="color:red">{{.}}</label>
          {{end}}
          <input type="text" name="title" value='{{.Get "title"}}'><br>
  
          <label for="content">Content</label><br>
  
          {{with .Errors.Get "content"}}
            <label class="error" style="color:red">{{.}}</label>
          {{end}}
          <textarea rows="10"  name="content" class="inputarea"></textarea><br>
          
        {{end}}
          <label for="categories">Categories</label><br>
          <select size="3" multiple id="categories "name="categories">
            {{range .Category}}
            <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
          </select>
          <div class="field">
            <button type="submit" class="createbtn"><span class="plus">+</span> Create</button> 
            <div class="footer">
              <a class="home" href="/">Close</button>
            </div>
          </div>
        </form>
    </div>
  
</body>
</html>