<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" type="image/png" href="../static/img/gopher.png">
    <title>Forum</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="/" class="header-title">
                <img src="https://forum.golangbridge.org/uploads/default/original/2X/b/b7c7c811a309cce5ab951588d4302faaa96553b5.png" alt="logo" style="width: 120px;height: 40px;">
            </a>
            <div class="auth">
                {{if .User.Username}}
                <button onclick="showModal('notification')" class="notify"></button>
                <div id="notification" class="modal" onclick="closeModal('notification');">
                    <div class="modal-content">
                        <div class="modal-header">Notifications<span class='close' onclick='closeModal("notification")'></span></div>
                        <div class="modal-body">
                                <span><a href="#"></a>  <a href="#"></a></span>
                                <span>No notifications for you</span>
                        </div>
                    </div>
                </div>
                    <img src="../static/img/account.png" class="user-img" alt="user-img" onclick="togglemenu()">
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-info">
                                <img src="../static/img/account.png" alt="">
                                <h2>{{.User.Username}}</h2>
                            </div>
                            <hr>
                            <a href="/profile/{{.User.Username}}" class="sub-menu-link">
                                <img src="../static/img/user.png" alt="profile">
                                <p>Profile</p>
                                <span>></span>
                            </a>
                            <a href="/auth/logout" class="sub-menu-link">
                                <img src="../static/img/logout.png" alt="logout">
                                <p>LogOut</p>
                                <span>></span>
                            </a>
                        </div>
                    </div>
                {{else}}
                <div class="sign">
                    <a href="/auth/signup">Sign Up</a>
                </div>
                <div class="sign">
                    <a href="/auth/signin">Log in</a>
                </div>
                {{end}}
            </div>
        </div>
    </header>
    <main class="container-main">
        <div class="nav-bar">
            <div class="dropdown">
                <button  class="dropbtn">Categories</button>
                <div  class="dropdown-content">
                    {{range .Category}}
                    <a href="/?tag={{.ID}}">{{.Name}}</a>
                    {{end}}
                </div>
            </div>
            <div class="right-navbar">
                <div class="filters">
                    <button   class="dropbtn">Filter</button>
                    <div class="dropdown-content">
                        <a href="/?time=new">Latest post</a>
                        <a href="/?time=old">Oldest post</a>
                        {{if .User.Username}}
                            <a href="/?like=most">Most liked</a>
                            <a href="/?like=least">Least liked</a>
                            <a href="/?my=post">My posts</a>
                            <a href="/?my=like">My liked posts</a>
                        {{end}}
                    </div>
                </div>
                {{if .User.Username}}
                <div class="create-post">
                    <a href="/create-post">New Post</a>
                </div>
                {{end}}
            </div>
        </div>
       <div class="posts">
           <div class="topic">
                <img src="../static/img/list-svgrepo-com.svg" alt="list" class="topic-img" style="height:15px;width:15px;">
                <div class="topic-title">Topic</div>
            </div>
        {{range .Posts}}
        <div class="post-item">
            <a href="/post/{{.ID}}">
            <div class="post-item-header">
                <div class="post-author">
                    by: {{.Author}}
                </div>
                <div class="time">
                    {{.Created}}
                </div>
            </div>
            <div class="post-title">
                    {{.Title}}
                </div>
                <div class="categories">
                    {{range .Categories}}
                    <div class="category">
                        {{.}}
                    </div>
                    {{end}}
                </div>
            </a>
            <div class="like-post">
                <span class="like"><img src="../static/img/up.png" alt="like"></span>
                <span class="count">{{.Likes}}</span>
                <span class="dislike"><img src="../static/img/down.png" alt=""></span>
                <span class="count">{{.Dislikes}}</span>
            </div>
        </div>
        {{end}}
       </div>
    </main>
    <footer class="footer"></footer>
    <script>
        let submenu=document.getElementById("subMenu");
        function togglemenu(){
            submenu.classList.toggle("open-menu");
        }
        var dropdownBtns = document.querySelectorAll(".dropbtn");

            // Loop through the dropdown buttons and add a click event listener to each one
            dropdownBtns.forEach(function(btn) {
            btn.addEventListener("click", function() {
                // Toggle the visibility of the dropdown content
                this.nextElementSibling.classList.toggle("show");
            });
            });

            // Close the dropdown when the user clicks outside of it
            window.addEventListener("click", function(event) {
            dropdownBtns.forEach(function(btn) {
                if (!btn.contains(event.target)) {
                btn.nextElementSibling.classList.remove("show");
                }
            });
            });
            function showModal(id) {
                // document.querySelector('.modal').style.display = 'flex'
                document.getElementById(id).style.display = 'flex'
            }

            function closeModal(id) {
                // document.querySelector('.modal').style.display = 'none'
                document.getElementById(id).style.display = 'none'

            }
            
            const modals = document.querySelectorAll(".modal-content")

            modals.forEach(element => {
                element.addEventListener("click", (e) => { e.stopPropagation() })
            });
    </script>
</body>
</html>