<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Forum</title>
</head>
<body>
    <header class="header">
        <div class="title">Forum</div>
        <div class="auth">
            <div class="sign-up">
                <a href="/auth/signup">Sign Up</a>
            </div>
            <div class="sign-in">
                <a href="/auth/signin">Log in</a>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="nav-bar">
            <form action="" method="post">
                <select name="select">
                    <option selected value="categories">categories</option>
                    <option  value="alem">alem</option>
                    <option value="university">university</option>
                </select>
            </form>
            <div class="latest-post">
                <a href="">Latest</a>
            </div>
            <div class="top-post">
                <a href="">Top</a>
            </div>
        </div>
    </main>
    <footer class="footer"></footer>
</body>
</html>