<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Forum</title>
</head>
<body>
    <header class="header">
        <div class="title">Forum</div>
        <div class="auth">
            {{if .Username}}
                <div class="username">{{.Username}}</div>
                <div class="log-out">
                    <a href="/auth/logout">Log out</a>
                </div>
            {{else}}
            <div class="sign-up">
                <a href="/auth/signup">Sign Up</a>
            </div>
            <div class="sign-in">
                <a href="/auth/signin">Log in</a>
            </div>
            {{end}}
        </div>
    </header>
    <main class="container-main">
        <div class="nav-bar">
            <form action="" method="post">
                <select multiple name="select">
                    <option value="news">News</option>
                    <option value="sports">Sports</option>
                    <option value="entertainment">Entertainment</option>
                    <option value="technology">Technology</option>
                    <option value="other">Other</option>
                </select>
            </form>
            <div class="created-post">
                <a href="">Created post</a>
            </div>
            <div class="liked-post">
                <a href="">Liked post</a>
            </div>
            {{if .Username}}
            <div class="create-post">
                <a href="/create-post">New Post</a>
            </div>
            {{end}}
        </div>

    </main>
    <footer class="footer"></footer>
</body>
</html>