<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/post.css">
    <title>Post | Forum</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="/" class="header-title">
                <img src="https://forum.golangbridge.org/uploads/default/original/2X/b/b7c7c811a309cce5ab951588d4302faaa96553b5.png" alt="logo" style="width: 120px;height: 40px;">
            </a>
            <div class="auth">
                {{if .User.Username}}
                    <div  class="username">{{.User.Username}}</div>
                    <div class="log-out">
                        <form action="/auth/logout" method="GET">
                            <button class="logout">Logout</button>
                        </form>
                    </div>
                {{else}}
                <div class="sign">
                    <a href="/auth/signup">Sign Up</a>
                </div>
                <div class="sign">
                    <a href="/auth/signin">Log in</a>
                </div>
                {{end}}
            </div>
        </div>
    </header>
    <div class="container">
        <div class="post">
            <div class="post-header">
                <div class="title">title: <spanc class="post-title">{{.Post.Title}}</span></div>
                <div class="time">
                    {{.Post.Created}}
                </div>
            </div>
            <div class="header__post">
                <div class="author">
                    author:{{.Post.Author}}
                </div>
            </div>
            <div class="tags">
                {{range .Post.Categories}}
                <div class="category">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div class="post-content">
                {{if .Post.Images}}
                <div class="images">
                        {{range $i,$value:= .Post.Images}}
                        <div class="image">
                            <img src="{{$value}}" alt="img-{{$i}}" style="width: 300px;height: 300px;">
                        </div>
                        {{end}}
                </div>
                {{end}}
                <p>{{.Post.Content}}</p>
            </div>
            <div class="reaction" style="display:flex">
                <form  action="/post-like/{{.Post.ID}}" method="POST">
                    <button  class="like" {{ if not .User.Username }} disabled {{ end }}>
                        <img src="../static/img/like.svg" alt="like" class="like" >
                    </button>
                </form>
                <span class="count-likes">{{.PostLike.Likes}}</span>
                <form action="/post-dislike/{{.Post.ID}}" method="POST">
                    <button  class="dislike" {{ if not .User.Username }} disabled {{ end }}>
                        <img src="../static/img/dislike.svg" alt="dislike" class="dislike" >
                    </button>
                </form>
                <span class="count-dislikes">{{.PostLike.Dislikes}} </span>
            </div>
        </div>
        {{ $user := .User.Username }}
        <div class="comment-header">
            Comments
        </div>
        <div class="comments">
            <div class="comment-list">
                    {{range .Comments}}
                    <div class="comment-item">
                        <div class="comment-author">
                            {{.Author}}
                        </div>
                        <div class="com-content">
                            {{.Content}}
                        </div>
                        <div class="com-reaction" style="display:flex">
                            <form action="/comment-like/{{.ID}}" method="POST">
                                <button {{ if not $user }} disabled {{ end }}>
                                    <img src="../static/img/like.svg" alt="like" class="com-like" >
                                </button>
                                <span class="count-likes">{{.Likes}}</span>
                                
                            </form>
                            <form action="/comment-dislike/{{.ID}}" method="POST">
                                <button {{ if not $user }} disabled {{ end }}>
                                    <img src="../static/img/dislike.svg" alt="dislike" class="com-dislike" >
                                </button>
                                <span class="count-dislikes">{{.Dislikes}} </span>
                                
                            </form>
                        </div>
                    </div>
                    {{end}}
            </div>
            {{if .User.Username}}
            <div class="create-comment">
                <form class="comment-form" method="POST" action="/create-comment">
                    <fieldset>
                        <legend>Create comment:</legend>
                        <input type="hidden" name ="postId"value="{{.Post.ID}}">
                        <input type="hidden" name ="uerId" value="{{.Post.UserId}}">
                        <textarea class="comment" name="comment" required></textarea>
                        <button type="submit" class="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
            {{end}}
        </div>
        </div>
</body>
</html>