<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/post.css">
    <title>Post | Forum</title>
</head>
<body>
    <header class="header">
        <div class="title">Forum</div>
        <div class="auth">
            {{if .User.Username}}
                <div class="username">{{.User.Username}}</div>
                <div class="log-out">
                    <a href="/auth/logout">Log out</a>
                </div>
            {{else}}
            <div class="sign-up">
                <a href="/auth/signup">Sign Up</a>
            </div>
            <div class="sign-in">
                <a href="/auth/signin">Log in</a>
            </div>
            {{end}}
        </div>
    </header>
    <div class="container">
        <div class="post">
            <div class="author">
                Author:{{.Post.Author}}
            </div>
            <div class="header__post">
                <div class="title">Title:{{.Post.Title}}</div>
            </div>
            <div class="post">
                <p>{{.Post.Content}}</p>
            </div>
            <div class="tags">Tags:
                {{range .Post.Categories}}
                    {{.}}
                {{end}}
            </div>
            <div class="reaction">
                <a href="/post-like">Like</a>
                <a href="/post-dislike">Dislike</a>
            </div>
        </div>
        <h4>Comments</h4>
        <div class="comments">
            <div id="comments-list">
                {{range .Comments}}
                <div class="comment-item">
                    <div class="content">
                        {{.Content}}
                    </div>
                    <div class="reaction">
                        <a href="/comment-like">Like</a>
                        <a href="/comment-dislike">Dislike</a>
                    </div>
                </div>
                {{end}}
            </div>
        </div>

        <h4>Leave a Comment</h4>
        <form class="comment-form" method="POST" action="/create-comment">
            <input type="hidden" name ="postId"value="{{.Post.ID}}">
            <input type="hidden" name ="uerId" value="{{.Post.UserId}}">
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
            <br>
            <button type="submit">Post Comment</button>
        </form>
    </div>
</body>
</html>