<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/post.css">
    <title>Post | Forum</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="/" class="header-title">
                <img src="https://forum.golangbridge.org/uploads/default/original/2X/b/b7c7c811a309cce5ab951588d4302faaa96553b5.png" alt="logo" style="width: 120px;height: 40px;">
            </a>
            <div class="auth">
                {{if .User.Username}}
                <button onclick="showModal('notification')" class="notify"></button>
                <div id="notification" class="modal" onclick="closeModal('notification');">
                    <div class="modal-content">
                        <div class="modal-header">Notifications<span class='close' onclick='closeModal("notification")'></span></div>
                        <div class="modal-body">
                                {{range .Notifications}}
                                <span><a href="/profile/{{.From}}">{{.From}}</a> {{.Content}}<a href="/post/{{.PostId}}">{{.PostId}}</a></span>
                                {{else}}
                                <span>No notifications for you</span>
                                {{end}}
                        </div>
                    </div>
                </div>
                    <div class="profile-img">
                        <img src="../static/img/account.png" class="user-img" alt="user-img" onclick="togglemenu()">
                        <div class="sub-menu-wrap" id="subMenu">
                            <div class="sub-menu">
                                <div class="user-info">
                                    <img src="../static/img/account.png" alt="">
                                    <p class="user-name">{{.User.Username}}</p>
                                </div>
                                <hr>
                                <a href="/profile/{{.User.Username}}" class="sub-menu-link">
                                    <img src="../static/img/user.png" alt="profile">
                                    <p >Profile</p>
                                    <span>></span>
                                </a>
                                <a href="/auth/logout" class="sub-menu-link">
                                    <img src="../static/img/logout.png" alt="logout">
                                    <p>LogOut</p>
                                    <span>></span>
                                </a>
                            </div>
                        </div>
                    </div>
                {{else}}
                <div class="sign">
                    <a href="/auth/signup">Sign Up</a>
                </div>
                <div class="sign">
                    <a href="/auth/signin">Log in</a>
                </div>
                {{end}}
            </div>
        </div>
    </header>
    <div class="container">
        <div class="post">
            <div class="post-header">
                <div class="title">title: <spanc class="post-title">{{.Post.Title}}</span></div>

                <div class="right-side">
                    <div class="time">
                        {{.Post.Created}}
                    </div>
                    {{if and (eq .User.Username .Post.Author) (ne .User.RoleID 3)}}
                    <div class="edit-post">
                        <button class="btn btn-edit"><img src="../static/img/edit-post.png" alt="edit"></button>
                    </div>
                    <div class="modalPost hidden">
                        <div class="update__container">
                            <div class="update__header">
                              <h3>Edit Post</h3>
                            </div>
                            <form method="POST" action="/post/edit/{{.Post.ID}}" autocomplete="off">
                              <label for="update__title">Title</label><br>
                                <input type="text" name="update__title" value="{{.Post.Title}}"><br>
                                <label for="update__content">Content</label><br>
                                <textarea rows="10"  name="update__content" class="inputarea" >{{.Post.Content}}</textarea><br>
                                <label for="update__categories">Categories</label><br>
                                <select size="3" multiple id="categories "name="update__categories" required>
                                  {{range .Category}}
                                  <option value="{{.ID}}">{{.Name}}</option>
                                  {{end}}
                                </select>
                                <div class="update__field">
                                  <button type="submit" class="createbtn"><span class="plus">+</span> Update</button> 
                                  <div class="update__footer">
                                    <a class="btn-close" >Close</a>
                                  </div>
                                </div>
                              </form>
                          </div>
                    </div>
                    <div class="overlay hidden"></div>
                    <div class="post-options">
                        <button id ="drop" class="dropdownmore" >...</button>
                        <div id="more" class="dropdown-options" >
                            <a href="/post/delete/{{.Post.ID}}">Delete</a>
                        </div>
                    </div>
                    {{end}}
                    {{if  or (eq .User.RoleID 3) ( eq .User.RoleID 4)}}
                    <div class="delete-post">
                        <a href="/post/delete/{{.Post.ID}}"><img src="../static/img/delete .png" alt="delete"></a>
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="header__post">
                <div class="author">
                    author:{{.Post.Author}}
                </div>
            </div>
            <div class="tags">
                {{range .Post.Categories}}
                <div class="category">
                    {{.}}
                </div>
                {{end}}
            </div>
            <div class="post-content">
                {{if .Post.Images}}
                <div class="image-list">
                    {{range $i,$value:= .Post.Images}}
                    <div class="image fade" >
                        <img src="{{$value}}" alt="img-{{$i}}" style="width: 100%;aspect-ratio: 16/9; object-fit: cover;">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    {{end}}
                    
                </div>
                {{end}}
                <p class="post-text">{{.Post.Content}}</p>
            </div>
            <div class="post-footer">
                <div class="reaction" style="display:flex">
                    <form  action="/post-like/{{.Post.ID}}" method="POST">
                        <button  class="like" {{ if not .User.Username }} disabled {{ end }}>
                            <img src="../static/img/like.svg" alt="like" class="like" >
                        </button>
                    </form>
                    <span class="count-likes">{{.PostLike.Likes}}</span>
                    <form action="/post-dislike/{{.Post.ID}}" method="POST">
                        <button  class="dislike" {{ if not .User.Username }} disabled {{ end }}>
                            <img src="../static/img/dislike.svg" alt="dislike" class="dislike" >
                        </button>
                    </form>
                    <span class="count-dislikes">{{.PostLike.Dislikes}} </span>
                </div>
                <div class="right-options">
                    <button id="reportId"  class="footer-report"><img src="../static/img/red-flag.png" alt="flag"></button>
                </div>
                <div id="roleModal" class="footer-roles">
                    <div class="roles-content">
                        Report
                        <span  id ="closeModal" class="comment-close" ></span>
                        <form action="/posts/report/{{.Post.ID}}" method="POST">
                            <input type="radio" id="1" name="role" value="irrelevant">irrelevant<br>
                            <input type="radio" id="2" name="role" value="obscene">obscene<br>
                            <input type="radio" id="3" name="role" value="illegal ">illegal<br>
                            <input type="radio" id="4" name="role" value="insulting">insulting<br>
                        
                            <button type="submit" class="report-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{ $user := .User.Username }}
        {{$roleId := .User.RoleID}}
        <div class="comments">
            {{if .User.Username}}
            <div class="create-comment">
                <form class="comment-form" method="POST" action="/create-comment">
                    <fieldset>
                        <legend>Create comment:</legend>
                        <input type="hidden" name ="postId"value="{{.Post.ID}}">
                        <input type="hidden" name ="uerId" value="{{.Post.UserId}}">
                        <textarea class="comment" name="comment" required></textarea>
                        <button type="submit" class="submit">Create</button>
                    </fieldset>
                </form>
            </div>
            {{end}}
            <div class="comment-header">
                Comments
            </div>
            
            <div class="comment-list">
                    {{range .Comments}}
                    <div class="comment-item">
                        <div class="comment-detailes">
                            <div class="comment-author">
                                {{.Author}}
                            </div>
                            {{if and (eq $user .Author) (ne $roleId 4)}}
                            <div class="comment-options">
                                <button  class="trigger" ><img src="../static/img/draw.png" alt="edit"></button>
                                <form action="/comment/delete/{{.ID}}">
                                    <button class="btn "><img src="../static/img/delete .png" alt="delete"></button>
                                </form>
                            </div>
                            <div  class="modalComment"  >
                                <div class="modal-comment">
                                    <div class="editCom-header">
                                        Edit comment
                                        <span  class="comment-close" ></span>
                                    </div>
                                    <form class="comment-form" method="POST" action="/comment/edit/{{.ID}}">
                                        <fieldset>
                                            <legend>Text:</legend>
                                            <textarea class="comment" name="comment" required>{{.Content}}</textarea>
                                        </fieldset>
                                        <button type="submit" class="submit">Update</button>
                                    </form>
                                </div>
                            </div>
                            {{end}}
                            {{if or (eq $roleId 3) (eq $roleId 4)}}
                            <div class="comment-options">
                                <form action="/comment/delete/{{.ID}}">
                                    <button class="btn "><img src="../static/img/delete .png" alt="delete"></button>
                                </form>
                            </div>  
                            {{end}}
                        </div>
                       
                        <div class="com-content">
                            {{.Content}}
                        </div>
                        <div class="com-reaction" style="display:flex">
                            <form action="/comment-like/{{.ID}}" method="POST">
                                <button {{ if not $user }} disabled {{ end }}>
                                    <img src="../static/img/like.svg" alt="like" class="com-like" >
                                </button>
                                <span class="count-likes">{{.Likes}}</span>
                                
                            </form>
                            <form action="/comment-dislike/{{.ID}}" method="POST">
                                <button {{ if not $user }} disabled {{ end }}>
                                    <img src="../static/img/dislike.svg" alt="dislike" class="com-dislike" >
                                </button>
                                <span class="count-dislikes">{{.Dislikes}} </span>
                                
                            </form>
                        </div>
                    </div>
                    {{end}}
            </div>
           
        </div>
        </div>
        
        <script src="../static/script/header.js"></script>
        <script src="../static/script/slide.js"></script>
        <script src="../static/script/editpost.js"></script>
       
        <script>
             document.getElementById("drop").addEventListener("click",function(e){
                document.getElementById("more").classList.toggle("show");
            });
            window.addEventListener("click",function(event){
                if(!event.target.matches('.dropdownmore')){
                    document.querySelectorAll('.dropdown-options.show')
                    .forEach(openDropdown=>openDropdown.classList.remove('show'))
                }
            });

            const editButtons = document.querySelectorAll('.trigger');

            // Add event listeners to each "Edit" button
            editButtons.forEach(button => {
            button.addEventListener('click', () => {
                const modal = button.parentNode.nextElementSibling;
                
                // Open the modal by adding a class
                modal.classList.add('show');
                
                // Close the modal when the close button is clicked
                const closeButton = modal.querySelector('.comment-close');
                closeButton.addEventListener('click', () => {
                modal.classList.remove('show');
                });
            });
            });
            

            document.getElementById("reportId").addEventListener("click", function() {
                document.getElementById("roleModal").style.display = "block";
            });

            document.getElementById("closeModal").addEventListener("click", function() {
                document.getElementById("roleModal").style.display = "none";
            });
          
        </script> 
</body>
</html>