<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signIn.css">
    <title>SignIn | Forum</title>
</head>
<body>
  <div class="container">
    <div class="title">
      <h2>Welcome back</h2>
      <p>Log in to your account</p>
    </div>
    <div class="login-form">
      <form action="/auth/signin" method="post">
      {{with .Form}}
      {{with .Errors.Get "generic"}}
      <div class="error" style="width:100%;margin:0 auto;color:white;padding: 10px;border: 1px solid red;background-color: red;margin-bottom: 10px;border-radius: 4px;">{{.}}</div>
      {{end}}
          
      <input type="text" placeholder="Enter Username" name="name" class="field"  value='{{.Get "name"}}' required>
  
      <input type="password" placeholder="Enter Password" name="psw" class="field"  required>
      
      <button type="submit" class="signupbtn">Login</button>
      {{end}}
      </form> 
    </div>  
    <div class="modal-footer">
      <div class="login">
        <p class="text">Dont have an account?</p>
        <a href="/auth/signup">Register</a>
      </div>
    </div>
  </div>
      
</body>
</html>