<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signUp | Forum</title>
    <link rel="stylesheet" href="../static/css/signUp.css">
</head>
<body>

      <div class="container">
        <div class="title">
          <h2>Welcome!</h2>
          <p>Let's create your account</p>
        </div>
        <div class="login-form">
          <form action="/auth/signup" method="POST">
            {{with .Form}}
              {{with .Errors.Get "name"}}
              <label class="error" style="color: red;">{{.}}</label>
              {{end}}
            <input type="text" placeholder="Enter Username" name="name" class="field" value='{{.Get "name"}}'required>
              {{with .Errors.Get "email"}}
              <label for="error" style="color: red;">{{.}}</label>
              {{end}}
            <input type="text" placeholder="Enter Email" name="email" class="field" value='{{.Get "email"}}' required>
        
              {{with .Errors.Get "psw"}}
              <label class="error" style="color: red;">{{.}}</label>
              {{end}}
            <input type="password" placeholder="Enter Password" name="psw" class="field" value='{{.Get "psw"}}'required>
            
            <input type="password" placeholder="Confirm Password" name="psw-repeat" class="field" required>
            {{end}}
            <button type="submit" class="signupbtn">Create your account</button>
          </form>
        </div>
          <div class="modal-footer">
            <div class="login">
              <p class="text">Already have an account?</p>
              <a href="/auth/signin">Log In</a>
            </div>
          </div>
      </div>
  
</body>
</html>