*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    max-height: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    background-color: #e0ebf5;
}
.header-title{
    font-size: 24px;
    display: flex;
    align-items: center;
    color:rgba(0,0,0,0.7)
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 60%;
    text-decoration: none;
}
.auth{
    display: flex;
}
.username, .log-out {
    margin-right: 10px;
}
.sign{
    background-color: #296da9;
    padding: 8px;
    border-radius: 4px;
}
.sign:not(:last-child){
    margin-right: 10px;
}

.sign a{
    font-size: 14px;
    color: #E0EBF5;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
}

.modal-content {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #353636;
}

.close {
    color: #353636;
}

.close::after {
    content: '\00d7';
    cursor: pointer;
    font-size: 30px;
}

.close:hover {
    color: rgb(0, 0, 0);
}

.notify {
    cursor: pointer;
    width: 30px;
    margin-right: 15px;
    background-image: url(../img/notification-bell.png) ;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word;
    line-height: 25px;
}

.modal-body a {
    border-bottom: 2px dotted #000;
}
.user-img{
    width: 40px;
    border-radius: 50%;
    cursor:pointer;
}
.profile-img{
    position: relative;
}
.sub-menu-wrap{
    position: absolute;
    top:55px;
    left: -20px;
    width: 180px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;

}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}
.sub-menu{
    background-color: #fff;
    padding: 20px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-name{
    font-size: 18px;
}
.user-info img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border:0;
    height: 1px;
    width: 100%;
    background-color: #296da9;
    margin:10px 0 10px;

}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #646464;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
    font-size: 14px;
}
.sub-menu-link img{
    width: 35px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right:15px;
}
.sub-menu-link span{
    font-size: 12px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}
.dropbtn{
    font-size: 16px;
    padding: 5px 5px;
    background-color:transparent;
    border:1px solid #919191;
    border-radius: 4px;
    width: max-content;
}
.dropbtn i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
.dropbtn:hover, .dropbtn:focus {
    background-color:#c5e1ff;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}
.dropdown-content a {
    font-size: 14px;
    color: black;
    padding:5px;
    text-decoration: none;
    display: block;
  }

.dropdown-content {
    min-width: 140px;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
  }

.dropdown-content a:hover {
    background-color: #ffffa6;
}

.dropbtn::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    vertical-align: middle;
  }

.show {display:block;}
.right-navbar{
    align-items:center;
}
.create-post{
    border-radius: 2px;
    padding: 5px;
    background-color:  	#29a9a5;
    border-radius: 4px;
}
.create-post a{
    color: white;
    padding-right: 5px;
}
.create-post::before{
    content: "+";
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-right: 10px;
}
.container-main{
    margin: 0 auto;
    max-width: 60%;
}
.nav-bar{
    display: flex;
}

.nav-bar form{
    margin-right: 10px;
}
.right-navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
}

.create-post{
    display: flex;
    justify-content: flex-end;
}

.post-title{
    display: block;
    padding: 15px 0 15px 0;
    margin: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 500;
}
.post-item{
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color:#D9E5EAC9;
}
.topic{
    
    margin: 20px 0 20px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color:#c5e1ff;
    border-radius: 3px;
}
.topic-img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.topic-title{
    font-size: 18px;
    color: black;
}
.post-item-header{
    display: flex;
    justify-content: space-between;
}
.post-item-header{
    margin-bottom: 15px;
}
.post-author{
    font-size: 16px;
    font-weight: 400;
    color:#394955;
}
.categories{
    display: flex;
}
.category{
    font-size: 12px;
    color: #646464;
    padding: 4px;
    background-color: 	#eaf3ff ;
    border-radius: 2px;
    margin-right: 15px;
}
.time{
    font-size: 14px;
    color: 	rgb(105,105,105);
}
.like-post{
    display: flex;
    align-items: stretch;
    margin-top: 10px;
}
.like{
    margin-right: 3px;
}
.dislike{
    margin-right: 3px;
}
.like img{
    height: 15px;
    width: 15px;
}
.dislike img{
    height: 15px;
    width: 15px;
}
.count{
    color: rgba(0,0,0,0.7);
    font-weight: 400;
    font-size: 14px;
    margin-right: 8px;
}
@media screen and (max-width:600px) {
    .nav-bar{
        flex-wrap: wrap;
    }
    .filters{
        flex-direction: column;
    }
    .filters a{
        white-space: nowrap;
    }
    .liked-post{
        display: flex;
        flex-direction: column;
    }
}
  @media screen and (min-width:600px) {
   
}
@media screen and (min-width:768px) {
    
}
  @media screen and (min-width:992px) {
    
}
  @media screen and(min-width:1200px) {
   
}