body{
    max-height: 100%;
    margin: 0 auto;
    max-width: 60%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;
    margin-bottom: 50px;
    text-decoration: none;
    background-color: #E0EBF5;
}
.auth{
    display: flex;
}
.sign-up{
    margin-right: 10px;
}
.nav-bar{
    display: flex;
}
.latest-post{
    margin-right: 10px;
}
.nav-bar form{
    margin-right: 10px;
}