* {
  box-sizing: border-box
}
a{
  text-decoration: none;
  color:#1371fd;
}

input{
  outline:none;
}
input:valid{
  border: 1px solid #375eab;
}
.container{
  margin: 0 auto;
  margin-top: 70px;
  padding: 30px;
  max-width: 30%;
  border: 1px solid #919191 ;
}
.field{
  display: block;
  margin-bottom: 25px;
  padding: 10px;
  width: 100%;
  border:1px solid #919191;
}

.text{
  display: inline;
}
.signupbtn{
  width: 100%;
  color:#f5f7fb;
  font-size: 18px;
  background-color:#375eab;
  border: none;
  padding: 10px;
  margin-bottom:20px;
}
.login {
  text-align: center;
}
button{
  cursor: pointer;
}